
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .info-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .info-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info-section p {
    color: #666;
    line-height: 1.5;
  }
  